body{
    color: $dark;
    font-size: $font-size;
    font-family: $font-family;
    font-weight: 400;
}

.container{
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 20px;
}