*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::after,
    &::before{
        box-sizing: border-box;
    }
}

ul, li, ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}

input,
textarea,
button,
select,
option{
    outline: none;
}

button{
    cursor: pointer;
    border: none;
}
textarea{
    resize: none;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1;
}