// container breackpoints 
$xl:1150px;
$lg: 970px;
$md: 730px;
$sm: 550px;
$xs: 320px;


// styles 
$font-size: 18px;
$font-family: 'Gilroy-400';
$container-width: 1150px;

// colors 
$white: #ffffff;
$black: #000000;
$dark: #333333;
$border-color: #f9f9f9;
$bg-color: #e5e5e5;