<template>
    <section class="blogs">
        <Title :title="title" :sub="subtitle"/>
        <div class="container blogs_inner">
            <div class="blogs_img">
                <img :src="post.img" alt="image">
            </div>
            <div class="blogs_text">
                <h3>{{ post.title }}</h3>
                <p>{{ post.text }}</p>
                <Button class="btn" @clickBtn="$router.push($route.query.redarict || '/')">Назад</Button>
            </div>
        </div>
    </section>
</template>

<script>
import Title from '@/components/Title.vue'
import BlogPosts from '@/blog_posts.js'
import Button from '@/components/Button.vue'
export default {
  components: { Title, Button },
    // name:'BlogPost',
    data() {
        return{
            blog:BlogPosts,
            postId: this.$route.params.postId,
            title:'JEWELLERY BLOG',
            subtitle: 'Articles by Australian designer Simone Walsh',
        }
    },
    computed: {
        post() {
            console.log(this.blog.find(post => post.id === this.postId));
            return this.blog.find(post => post.id === this.postId)
        }
    }
}
</script>

<style lang='scss'>
.blogs{
   & .blogs_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    & .blogs_img{
        // margin-right: 40px;
        width: 35%;
        height: auto;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    & .blogs_text{
        width: 60%;
        & h3{
            margin-bottom: 20px;
        }
        & p{
            line-height: 28px;
            margin-bottom: 30px;
        }
    }
   } 
}
</style>