<template>
    <section class="blogs">
      <div class="block">
        <search-bar :isActive="isSearchActive" @closeSearchBar="isSearchActive = false"/>
        <navbar @openSearchBar="isSearchActive = true"/>
        <Title :isLight_title="true" :title="title" :sub="subtitle"/>
      </div>

      <div class="wrapper container">
        <BlogCard
          v-for="post in posts"
          :key="post.id"
          :image="post.img"
          :title="post.title"
          :desc="post.text"
          @clickCard="$router.push({ name: 'Post', params: {postId: post.id}, query: { redarict: '/blog' } })"
        />
      </div>
      <Footer/>
    </section>
</template>

<script>
import Title from '@/components/Title.vue'
import Navbar from '@/components/Navbar/Navbar.vue'
import BlogCard from '@/components/BlogCard.vue'
import BlogPosts from '@/blog_posts.js'
import SearchBar from '@/components/SearchBar.vue'
import Footer from '@/components/Footer/Footer.vue'
export default {
  components: { Title, Navbar, BlogCard, SearchBar, Footer },
    data() {
        return{
            title:'JEWELLERY BLOG',
            subtitle: 'Articles by Australian designer Simone Walsh',
            posts: BlogPosts,
            isSearchActive: false
        }
    }
}
</script>

<style lang='scss'>
.blogs{
  .block{
    padding: 200px 0 100px;
    background-image: url("https://cdn.shopify.com/s/files/1/0021/6592/files/banner-gold-coral-necklace_1600x.jpg?v=1635487450");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba( #000000, $alpha: 0.4);
    }
  }

  .wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 0;
    margin: 80px auto;

    // media 
    @media (max-width: 970px) {
      padding: 40px auto;
      justify-content: center;
      gap: 25px;
    }
  }
}

</style>