@import '../../components/_vars.scss';
@import '../../components/_mixins.scss';

.event{
    padding: 100px 0  120px 0;
    
    // media
    @include md{
        padding: 50px 0;
    } 

    & .btns_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 60px 0;

        // media
         
        @include xl{
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
        
        & .btn{
            width: 165px;
            height: 55px;
            border: 1px solid #D6D6D6;
            background: #F9F9F9;
            font-family: 'Gilroy-500';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #333333;
            position: relative;
            z-index: 5;
            box-sizing: border-box;
            transition: .5s;

            // media 
            @include xl{
                width: 125px;
                height: 40px;
                font-size: 15px;
            }
           
            & span{
                width: 100%;
                height: 100%;
            }
            &::before{
                position: absolute;
                transition: .5s;
                content: '';
                bottom: 3px;
                right: 3px;
                z-index: -1;
                width: 100%;
                background: #F9F9F9;
                height: 100%;
                border: 1px solid #D6D6D6;
                transform: translate(16px 16px);
                
            }
            &.active{
                height: 58px;
                border: none;
                background: $dark;
                color: $white;
                transform: translateY(-5px);
                &::before{
                    display: none;
                }

                // media 
                @include xl{
                    height: 45px;
                }
                
            }
            &:hover{
                height: 58px;
                border: none;
                background: $dark;
                color: $white;
                transform: translateY(-5px);
                &::before{
                    display: none;
                }

                // media 
                @include xl{
                    height: 45px;
                }
            }
        }
    }

    & .cards_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;

        // media 
        @include lg{
            justify-content: center;
        }
        & .card{
            width: 350px;
            height: 280px;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content:center;
            cursor: pointer;

            // media 
            @include xl{
                width: 280px;
                height: 230px;

            }
            & img{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
            & .title{
                font-size: 24px;
                font-weight: 500;
                color: $white;
                text-transform: uppercase;
                margin-bottom: 30px;
                z-index: 2;
            }
        }
    }
}