@import '../../components/_vars.scss';
@import '../../components/_mixins.scss';

.main_section{
    width: 100%;
    min-height: 100vh;
    background: url('@/assets/images/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    & .content{
        margin-bottom: 80px;
        @include md{
            margin-bottom: 50px;
        }
        & .main_title{
            font-family: 'Noto Serif';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 49px;
            color: #FFFFFF;
            margin-bottom: 50px;

            // media 
            @include md{
                font-size: 25px;
                margin-bottom: 30px;
            }
        }
    }
}