<template>
  <header class="header">
    <div class="container">
        <nav class="navbar">
            <ul class="menu" v-if="!isMobile">
                <li class="menu_item" v-for="item in menuArray" :key="item.text">
                    <router-link :to="item.link" class="link">{{ item.text }}</router-link>
                </li>
            </ul>
            <div class="logo" :class="{ dark: isOpen }">
                <img src="@/assets/images/logo (1).png" alt="">
            </div>

            <!-- burger -->
            <div class="burger_box" v-if="isMobile">
                <div class="burger_auth">
                    <i class="fas fa-sign-in"></i>
                </div>
                <div class="burger"  @click="isOpen = !isOpen">
                    <i class="fas fa-bars" v-if="!isOpen"></i>
                    <i class="fas fa-times" v-if="isOpen"></i>
                </div>
            </div>

            <div class="actions" v-if="!isMobile">
                <div class="search" @click="$emit('openSearchBar')">
                    <i class="fas fa-search"></i>
                    <span>Поиск</span>
                </div>
                <div class="auth">
                    <span>Вход/Регистрация</span>
                </div>
                <div class="act">
                    <i class="fas fa-user"></i>
                    <i class="fas fa-heart"></i>

                </div>
            </div>

            <!-- mobile menu  -->
            <div :class="['burger_menu', { active: isOpen }]" v-if="isMobile">
                 <ul class="mobile_menu">
                    <li class="menu_item" v-for="item in menuArray" :key="item.text">
                        <router-link :to="item.link" class="link">{{ item.text }}</router-link>
                    </li>
                </ul>

                <div class="block">
                    <div class="search_block">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="search...">
                    </div>
                    <div class="icons_block">
                         <i class="fas fa-user"></i>
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
            </div>
        </nav>
    </div>
  </header>
</template>

<script>
export default {
    data (){
        return{
            isMobile: false,
            isOpen: false,
            menuArray: [
                {
                    text: 'Домой',
                    link: '/'
                },
                {
                    text: 'Контрагентам',
                    link: '/blog'
                },
                {
                    text: 'Вакансии',
                    link: '/'
                },
            ]
        }
    },
    methods: {
        checkScreenWidth(){
            const winWidth = window.innerWidth

            if (winWidth < 970) {
                this.isMobile = true
                return
            }

            this.isMobile = false
            this.isOpen = false
        }
    },
    mounted() {
        this.checkScreenWidth()
        window.addEventListener('resize', this.checkScreenWidth )
    }
}
</script>

<style src="./Navbar.scss" lang='scss'>

</style>