@import '../../styles/components/_vars.scss';
@import '../../styles/components/_mixins.scss';

.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: $white;
    z-index: 10;
    &  .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 43px 0; 
        position: relative;
        & .menu{
            display: flex;
            gap: 40px;
            & .menu_item{
                & .link{
                    color: $white;
                    font-size: 14px;
                }
            }
        }
        & .logo{
            position: absolute;
            left: 50%;
            width: 216px;
            transform: translateX(-50%);
            transition: .5s;
            & img{
                width: 100%;
            }

            // media 
            @include lg {
                position: relative;
                width: 100px;
                left: 0;
                transform: translateX(0);
                z-index: 999;
            }
            &.dark{
                filter: invert(80%);
            }
        }

        // burger
        & .burger_box{
            display: flex;
            align-items: center;
            gap: 20px;
            & .burger_auth{
                font-size: 25px;
            }
            & .burger{
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border:  2px solid $white;
                color: $white;
                border-radius: 5px;
                font-size: 18px;
            }

        }
        
        & .actions{
            display: flex;
            gap: 40px;
            align-items: center;
            font-size: 14px;
            & .search{
                display: flex;
                gap: 16px;
                align-items: center;
                cursor: pointer;
            }
            & .act{
                display: flex;
                gap: 30px;
                & .fa-user{
                    cursor: pointer;
                }
                & .fa-heart{
                    cursor: pointer;
                }
            }
        }

        // burger_menu
        & .burger_menu{
            position: fixed;
            left: 0;
            top: 0;
            padding: 80px 20px 30px;
            width: 250px;
            height: 100vh;
            background: $white;
            color: $dark;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: .5s;
            z-index: 99;
            transform: translateX(-100%);
            &.active{
                transform: translateX(0);
            }
            & .mobile_menu{
                & .menu_item{
                    & .link{
                        font-size: 20px;
                        font-weight: 500;
                        color: $dark;
                        padding: 15px 0;
                    }
                }
            }
            & .block{
                & .search_block{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 10px;
                    border-radius: 50px;
                    border: 1px solid $dark;
                    & i{
                        font-size: 15px;
                    }
                    & input{
                        background: none;
                        border: none;
                        padding-left: 10px;
                    }
                }
                & .icons_block{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    margin-top: 15px;
                    font-size: 20px;
                }
            }
        }
    }
}