<template>
  <div class="blog_card" :style="{ backgroundImage: `url(${image})` }" @click="$emit('clickCard')">
    <h3 class="title">{{ title }}</h3>
  </div>
</template>

<script>
export default {
    name:'BlogCard',
    props: {
        image: String,
        title: String,
    }
}
</script>

<style lang='scss'>
.blog_card{
    width: 350px;
    height: 370px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f3f3f3;
    cursor: pointer;
    position: relative;

    // media 
    @media (max-width: 1150px) {
        width: 290px;
        height: 310px;
    }

    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(180, 180, 180, 0) 0%, #333333 100%)
    }
    & .title{
        max-width: 210px;
        text-align: center;
        font-size: 21px;
        line-height: 30px;
        color: #fff;
        font-weight: 400;
        position: relative;
        z-index: 3;
    }
}
</style>