<template>
  <button @click="$emit('clickBtn')" class="site_btn" :class="{ light: isLight }">
    <slot></slot>
  </button>
</template>

<script>
export default {
    name: 'Button',
    props: {
        isLight: {
            type: Boolean,
            default: () => false
        }
    }
}
</script>

<style lang="scss">
// @import '../assets/styles/components/_vars.scss';
// @import '../assets/styles/components/_mixins.scss';
.site_btn{
    font-size: 18px;
    font-weight: 500;
    padding: 15px 35px;
    color: #fff;
    background: #333;
    border: 1px solid #fff;
    text-transform: uppercase;
    &.light{
        background: #fff;
        color: #333;
        border-color: #333;
    }

    // media 
    @media (max-width: 730px) {
        font-size: 14px;
        padding: 10px 30px;
    }
}
</style>