<template>
  <div class="search_bar" :class="{ active: isActive }">
    <div class="black">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="search...">
    </div>
    <div class="close_btn" @click="$emit('closeSearchBar')"> 
     <i class="fas fa-times"></i>   
    </div>
  </div>
</template>

<script>
export default {
    name:'SearchBar',
    props:{
        isActive: {
            type: Boolean,
            default: () => false
        }
    }
}
</script>

<style lang='scss' scpoed>
// @import '../assets/styles/components/_vars.scss';
// @import '../assets/styles/components/_mixins.scss';
.search_bar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(black, $alpha: 0.8);
    z-index: 999999;
    padding: 20px;
    transform: translateY(-100%);
    transition: 0.5s;
    &.active {
    transform: translateY(0);
    }
    & .black{
        width: 100%;
        max-width: 500px;
        background: #fff;
        padding: 10px 20px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        & i{
            font-size: 20px;
            color: #333;
        }
        & input{
            width: 100%;
            font-size: 15px;
            color: #333;
            border: none;
            margin-left: 15px;
        }
    }
    & .close_btn{
        margin-left: 30px;
        color: rgba( white, $alpha: 0.7);
        font-size: 25px;
        cursor: pointer;
        &:hover{
            color: rgba( white, $alpha: 1);
        }
    }
}
</style>