<template>
  <div class="site_title" :class="{ light_title: isLight_title }">
    <h3 class="sub_title">{{ sub }}</h3>
    <h2 class="title">{{ title }}</h2>
  </div>
</template>

<script>
export default {
    name: 'Title',
    props: {
        sub: String,
        title: String,
        isLight_title: {
            type: Boolean,
            default: () => false
        }
    }
}
</script>

<style lang='scss'>

.site_title{
    width: 100%;
    text-align: center;
    color: #333333;
    position: relative;
    z-index: 10;
    & .sub_title{
        margin-bottom: 15px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        
    }
    & .title{
        font-size: 30px;
        line-height: 41px;
        font-weight: 700;
        font-family: 'Noto';
    }
    
}
.light_title{
    color: #fff;
}
</style>