<template>
  <div class="footer">
    <div class="footer_inner container">
        <div class="box">
            <h3>Полезные ссылки</h3>
            <ul>
                <li>
                    <router-link to="/">Доставка</router-link>
                </li>
                <li>
                    <router-link to="/">Оплата </router-link>
                </li>
                <li>
                    <router-link to="/">Акции</router-link>
                </li>
                <li>
                    <router-link to="/">Политика конфиденциальности</router-link>
                </li>
            </ul>
        </div>
        <div class="box">
            <h3>оплата</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.</p>
            <div class="icons">
                <img src="@/assets/images/foot1.png" alt="logo">
                <img src="@/assets/images/foot2.png" alt="logo">
            </div>
        </div>
        <div class="box">
            <h3>контакты</h3>
            <ul>
                <li>
                    <a href="tel:'`${entry[8(812)2345655]}`"> <i class="fas fa-phone"></i> 8 (812) 234-56-55</a>
                </li>
                <li>
                    <a href="tel:'`${entry[8(812)2345655]}`"> <i class="fas fa-phone"></i> 8 (812) 234-56-55</a>
                </li>
                <li>
                    <a href="#"> <i class="fa-solid fa-envelope"></i> ojjo@ojjo.ru</a>
                </li>
                
            </ul>
        </div>
        <div class="box">
            <h3>социальные сети</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.</p>
            <div class="icons">
                <a href="#">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-telegram"></i>
                </a>
                <a href="#">
                    <i class="fa-solid fa-e"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer_bottom">
            <p>(c) 2020 OJJO jewelry</p>
            <p>Договор публичной офферты</p>
            <p>Контрагентам</p>
            <p><span>Сделано Figma.info</span></p>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    name: 'Footer',
}
</script>

<style lang='scss' src='./Footer.scss'></style>