@import '../../styles/components/_vars.scss';
@import '../../styles/components/_mixins.scss';

.footer{
    width: 100%;
    background: #E5E5E5;
    & .footer_inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 80px;
       

        // media 
        @include xl {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 440px) {
            flex-direction: column;
            align-items: center;
        }
        & .box{
            width: 250px;
            padding-bottom: 60px;
             // media 
             @include xl {
                width: 200px;
                gap: 10px;
                padding-bottom: 30px;
                
            }
            & h3{
                font-family: 'Gilroy-500';
                font-weight: 500;
                font-size: 18px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #333333;
                padding-bottom: 10px;
                border-bottom: 1px solid #333333;
                margin-bottom: 30px;
                // media 
                @include xl {
                    font-size: 15px;
                }
            }
            & ul{
                & li{
                    & a{
                        font-family: 'Gilroy-400';
                        font-weight: 400;
                        font-size: 14px;
                        color: #333333;
                        line-height: 30px;
                        & i{
                            margin-right: 20px;
                        }
                    }
                }
            }
            & p{
                font-family: 'Gilroy-400';
                color: #333333;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 21px;
            }
            & .icons{
                display: flex;
                justify-content: flex-start;
                gap: 25px;
                & a{
                    & i{
                        color: #333333;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    & .footer_bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        border-top: 1px solid #333333;
        // madia 
        @include md{
            flex-wrap: wrap;
        }
        @media screen and (max-width:480px) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media screen and (max-width:440px) {
            align-items: center;
        }
        & p{
            font-family: 'Gilroy-400';
            font-weight: 400;
            font-size: 14px;
            padding: 20px 0;    
             // madia 
            @include md{
                padding: 10px 0;
                font-size: 13px;
            }
            
        }
    }
}