<template>
  <div class="home">
      <main-section/>
      <event/>
      <salons/>
      <home-blog/>
      <networks/>
      <send-mail/>
      <Footer/>
  </div>
</template>

<script>
import Footer from '@/components/Footer/Footer.vue'
import Event from './component/Event.vue'
import HomeBlog from './component/HomeBlog.vue'
import MainSection from './component/MainSection.vue'
import Networks from './component/Networks.vue'
import Salons from './component/Salons.vue'
import SendMail from './component/SendMail.vue'

export default {
  components: { MainSection, Event, Salons, HomeBlog, Networks, SendMail, Footer },
  name: 'Home',
  
}
</script>
