<template>
  <div class="brands">
    <div class="container">
        <div class="brand" v-for="(brand, i) in brands" :key="i">
            <img :src="brand.img" alt="brand">
        </div>
    </div>
  </div>
</template>

<script>
export default {
    data() {
        return{
            brands:[
                {
                    img:require('@/assets/images/partner.png')
                },
                {
                    img:require('@/assets/images/partner.png')
                },
                {
                    img:require('@/assets/images/partner.png')
                },
                {
                    img:require('@/assets/images/partner.png')
                },
                {
                    img:require('@/assets/images/partner.png')
                },
                {
                    img:require('@/assets/images/partner.png')
                },
            ]
        }
    }
}
</script>

<style lang='scss'>
.brands{
    border-top: 1px solid #fff;
    padding: 30px 0;
    width: 100%;
    & .container{
        display: flex;

        // media 
        @media (max-width:730px) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px 0;
        }
        & .brand{
            width: 190px;
            padding: 0 15px;
            border-right: 1px solid #fff;
            &:last-child{
                border-right: unset;
            }
            & img{
                width: 100%;
            }
             @media (max-width:730px) {
                width: 30%;
                border: none;
            }
        }
    }
}
</style>