<template>
    <div class="event">
        <div class="container">
            <Title :sub="subtitle" :title="title"/>

            <div class="btns_wrapper">
                <button 
                    v-for="(item, idx) in collaction"
                    :key="item.id"
                    class="btn"
                    :class="{active: activeBtn === idx}"
                    @click="activeBtn = idx"
                >
                    <span>{{ item.ctg_name.text }}</span>
                </button>
            </div>
            <div class="cards_wrapper">
                <div 
                v-for="item in collaction[activeBtn].data"
                :key="item.product_id"
                class="card" 
                @click="isOpen = item"
                >
                    <img :src="item.img" :alt="item.title">
                    <h3 class="title">{{ item.title }}</h3>
                </div>
            </div>
        </div>
        <home-modal
            @action='isOpen = null'
            v-if="isOpen"
            :item="isOpen"
        />
    </div>
</template>

<script>
import Title from '@/components/Title.vue'
import Collaction from '@/collaction.js'
import HomeModal from './HomeModal.vue'

export default {
  components: { Title, HomeModal },
  name:'Event',
    data() {
        return{
            activeBtn: 0,
            isOpen: null,
            subtitle: 'К мероприятиям',
            title:'Настоящая красота здесь!',
            collaction: Collaction
        }
    }
}
</script>

<style lang='scss' src='@/styles/pages/Home/Event.scss'>
</style>