<template>
    <section class="home_blog">
        <div class="container">
            <Title :sub="subtitle" :title="title"/>
            <div class="wrapper">
                <BlogCard 
                    v-for="post in cutBlogArray"
                    :key="post.id"
                    :image="post.img" 
                    :title="post.title"
                    @clickCard="$router.push({ name: 'Post', params: {postId: post.id} })"
                />
            </div>
            <Button @clickBtn="$router.push({ name: 'Blog' })">{{ btn_text }}</Button>
        </div>
    </section>
</template>

<script>
import Title from '@/components/Title.vue'
import Button from '@/components/Button.vue'
import BlogCard from '@/components/BlogCard.vue'
import BlogPosts from '@/blog_posts.js'

export default {
    name: 'HomeBlog',
    components: { Title, Button, BlogCard },
    data() {
        return{
            blog_posts: BlogPosts,
            subtitle: 'Полезные статьи',
            title:'Лучшие советы по подбору дорогих подарков',
            btn_text: 'читать наш блог',
        }
    },
    computed: {
        getRandomArray(){
            const max = BlogPosts.length - 3
            const min = 0
            return Math.floor(Math.random() + (max - min) + min)
        },
        cutBlogArray(){
            return this.blog_posts.slice(this.getRandomArray , this.getRandomArray + 3)
        }
    }
}
</script>

<style lang='scss'>
.home_blog{
    padding: 120px 0;
    text-align: center;
    & .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 60px 0;

        // media 
        @media (max-width: 970px) {
            justify-content: center;
            gap: 30px;
        }
        @media (max-width: 730px) {
            padding: 30px 0;
        }
    }
}
</style>