<template>
  <div class="home_modal"  @click="$emit('action')">
    <div class="modal_card" @click.stop>
        <img :src="item.img" alt="image" class="image">
        <div class="content">
            <h3 class="title">{{ item.title }}</h3>
            <p class="desc">{{ item.desc }}</p>
            <button class="btn" @click="$emit('action')">Закрыть</button>
        </div>
    </div>
  </div>
</template>

<script>

export default {
    name:'HomeModal',
    props:{
        item: Object,
    },
}
</script>

<style lang='scss'>
// @import '../../../assets/styles/components/_vars.scss';
// @import '../../../assets/styles/components/mixins.scss';
.home_modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000000, $alpha: .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    & .modal_card{
        background: #fff;
        width: 40%;

        // madia 
        @media (max-width: 1150px) {
            width: 70%;
        }
        @media (max-width: 730px) {
            width: 90%;
        }

        & .image{
            width: 100%;
            height: 400px;
            object-fit: cover;

            // media 
            @media (max-width: 550px) {
                height: 250px;
            }
        }
        & .content{
            width: 100%;
            padding: 30px;
            & .title{
                font-size: 30px;
                margin: 15px 0;
                text-transform: uppercase;
            }

            & .btn{
                padding: 10px 30px;
                color: #fff;
                background: #000;
                border-radius: 10px;
                font-weight: 500;
                margin-top: 20px;
            }
        }
    }

}
</style>