<template>
  <section class="main_section">
    <search-bar :isActive="isSearchActive" @closeSearchBar="isSearchActive = false"/>
    <navbar @openSearchBar="isSearchActive = true"/>

    <div class="content">
      <h1 class="main_title">Долго, дорого, богато!</h1>
      <Button>каталог изделий</Button>
    </div>
    <brands/>
  </section>
</template>

<script>
import Navbar from '@/components/Navbar/Navbar.vue'
import SearchBar from '@/components/SearchBar.vue'
import Button from '@/components/Button.vue'
import Brands from './Brands.vue'
export default {
  components: { Navbar, SearchBar, Button, Brands },
  data() {
    return{
      isSearchActive: false
    }
  } 
}
</script>

<style lang='scss' src='@/styles/pages/Home/MainSection.scss'></style>