<template>
  <div class="networks container">
    <Title :sub="subtitle" :title="title"/>
    <div class="wrapper">
        <div class="box">
            <div class="box_img">
                <img class="video_img" src="@/assets/images/video1_img.png" alt="image">
                <img class="video_start" @click="isOpen = true" src="@/assets/images/video_start.png" alt="image">
            </div>
        </div>
        <div class="box box_flex">
            <img src="@/assets/images/gallery_1.png" alt="image">
            <img src="@/assets/images/gallery_2.png" alt="image">
        </div>
        <div class="box box_flex">
            <img src="@/assets/images/gallery_3.png" alt="image">
            <img src="@/assets/images/gallery_4.png" alt="image">
        </div>
        <div class="box">
            <div class="box_img">
                <img class="video_img" src="@/assets/images/video2_img.png" alt="image">
                <img class="video_start" @click="isOpen2 = true" src="@/assets/images/video_start.png" alt="image">
            </div>
        </div>
    </div>
    <video-modal
        @actionVideo='isOpen = null'
        v-if="isOpen"
    />
    <video-Modall
        @actionVideoo='isOpen2 = null'
        v-if="isOpen2"
    />
  </div>
</template>

<script>
import Title from '@/components/Title.vue'
import VideoModal from './VideoModal.vue'
import VideoModall from './Video2Modal.vue'
export default {
  components: { Title, VideoModal, VideoModall },
    data() {
        return{
            subtitle:'#ojjo_jewerly',
            title: 'Мы в социальных сетях',
            activeBtn: 0,
            isOpen: null,
            isOpen2: null,
            videoArr: [
                {
                    link:'@/assets/images/video1.mp4',
                },
                {
                    link:'@/assets/images/video1.mp4'
                },
            ]
        }
    }
}
</script>

<style lang='scss'>
img{
    box-sizing: border-box;
    overflow: hidden;
}
.networks{
    .wrapper{
        margin-top: 60px;
        margin-bottom: 150px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // media 
        @media ( max-width: 970px) {
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 80px;
        }
        & .box{
            box-sizing: border-box;
            width: 555px;
            // media 
             @media ( max-width: 1150px) {
                width: 465px;
             }
            & .box_img{
                width: 100%;
                height: 100%;
                position: relative;
                & img{
                    width: 100%;
                    height: 100%;
                }
                & .video_start{
                    position: absolute;
                    top: 38%;
                    left: 42%;
                    width: 70px;
                    height: 70px;
                    cursor: pointer;
                    // media 
                    @media ( max-width: 730px) {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        // media 
        @media ( max-width: 970px) {
            width: 300px;
        }
        }
        & .box_flex{
            & img{
                width: 50%;
                height: 100%;
            }
        }
    }
}
</style>