<template>
  <section class="salons">
    <div class="container">
        <Title :sub="subtitle" :title="title" :isLight_title="true"/>
        <p class="text">{{ text }}</p>
        <Button :isLight="true">наши салоны</Button>
    </div>
  </section>
</template>

<script>
import Title from '@/components/Title.vue'
import Button from '@/components/Button.vue'
export default {
    name:'Salons',
    components: { Title, Button },
    data() {
        return{
            subtitle: 'Не знаете, что выбрать?',
            title:'Посетите наши салоны в Москве',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut duis tortor vitae pellentesque egestas quam pulvinar. Pellentesque porttitor velit sit pellentesque. Suspendisse donec pretium id dignissim. Dignissim ultrices eget orci viverra. Egestas quis et ut ultrices imperdiet lectus nulla tempus. Pharetra lorem sem purus nisi libero viverra ipsum.'
        }
    }
}
</script>

<style lang='scss'>
.salons{
    background: url('@/assets/images/sec-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    color: #fff;

    // media 
    @media (max-width: 730px) {
        padding: 50px 0;
    }
    & .text{
        line-height: 25px;
        max-width: 730px;
        margin: 45px auto 60px;
    }
}
</style>