<template>
   <section class="send_mail">
    <div class="container">
        <Title :isLight_title="true" :sub="subtitle" :title="title"/>
        <div class="mail_info">
            <div class="mail_info_text">
                <p><img src="@/assets/images/subscribe__icon.png" alt="icon">Личный менеджер</p>
                <p><img src="@/assets/images/subscribe__icon.png" alt="icon">Доставка и оформление</p>
                <p><img src="@/assets/images/subscribe__icon.png" alt="icon">Индивидуальный дизайн</p>
            </div>
            <div class="mail_form">
                <form @submit.prevent="sendEmail" class="form">
                    <input type="text" v-model="message" placeholder="Ваш e-mail">
                    <button type="submit">отправить</button>
                </form>
            </div>
            
        </div>
        
    </div>
        
   </section>
</template>

<script>
import Title from '@/components/Title.vue'
export default {
  components: { Title },
    data() {
        return{
            subtitle:'Полезные советы и персональный предложения',
            title:'Эксклюзивная рассылка',
            tokin:'5769459068:AAGQ6PEOeTzTF-kWqtoAVo0x9-qXpsJ-CXA',
            chatId: '5000611430',
            message: '',
        }
    },
    methods: {
        async sendEmail(){
            const sms = JSON.stringify(this.message)
            await fetch(`https://api.telegram.org/bot${this.tokin}/sendMessage?chat_id=${this.chatId}&parse_mode=html&text=${sms}`)

            this.message = ''
        }
    }
}
</script>

<style lang='scss'>
.send_mail{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 120px;
    background: url('@/assets/images/sec-bg.jpg') no-repeat, center / cover;
    & .mail_info{
        max-width: 775px;
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // media 
        @media (max-width: 730px) {
            justify-content: center;
            margin-top: 30px;
            flex-wrap: wrap;
        }
        & .mail_info_text{
             @media (max-width: 730px) {
                margin-bottom: 20px;
            }
            & p{
                font-family: 'Gilroy-400';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 45px;
                color: #fff;
                & img{
                    margin-right: 20px;
                }
                // media 
                @media (max-width: 970px) {
                    line-height: 30px;
                }
            }
        }
        & .mail_form{
            width: 448px;
            height: 113px;
            margin-top: 15px;
            border: 1px solid #FFFFFF;
            padding: 14px 15px;
            box-sizing: border-box;

            // media 
            @media (max-width: 970px) {
                width: 350px;
                height: 80px;
                padding: 10px 12px;
                margin-top: 10px;
            }
            @media (max-width: 380px) {
                width: 280px;
                height: 65px;
                padding: 6px 7px;
                margin-top: 10px;
            }
            & .form{
                width: 100%;
                height: 100%;
                background: #fff;
                padding: 20px 22px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // media 
                @media (max-width: 970px) {
                    padding: 10px 12px;
                }
                @media (max-width: 380px) {
                    padding: 5px 6px;
                }
                & input{
                    outline: none;
                    border: 1px solid #D6D6D6;
                    padding: 15px 20px;
                    font-family: 'Gilroy-500';
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    width: 200px;
                    &::placeholder{
                        color: rgba(51, 51, 51, 0.5);
                    }
                    // media 
                    @media (max-width: 970px) {
                        padding: 10px 12px;
                        font-size: 14px;
                    }
                    @media (max-width: 380px) {
                        padding: 10px;
                        font-size: 12px;
                    }
                }
                & button{
                    padding: 14.5px 35px;
                    font-family: 'Gilroy-500';
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    letter-spacing: 0.1em;
                    color: #fff;
                    text-transform: uppercase;
                    background: #333333;
                    // media 
                    @media (max-width: 970px) {
                        padding: 10px 12px;
                        font-size: 14px;
                    }
                    @media (max-width: 380px) {
                        padding: 10px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
</style>