<template>
  <div class="video_modal"  @click="$emit('actionVideo')">
    <div class="modal_card" @click.stop>
        <video class="card_video" controls>
            <source type="video/mp4" src="@/assets/images/video1.mp4"/>
        </video>
    </div>
  </div>
</template>

<script>

export default {
    name:'VideoModal',
}
</script>

<style lang='scss'>
// @import '../../../assets/styles/components/_vars.scss';
// @import '../../../assets/styles/components/mixins.scss';
.video_modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000000, $alpha: .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    & .modal_card{
        background: #fff;
        width: 40%;
        height: 50%;
        // madia 
        @media (max-width: 1150px) {
            width: 70%;
        }
        @media (max-width: 730px) {
            width: 90%;
        }

        & .card_video{
            width: 100%;
            height: 100%;
            object-fit: cover !important;

            // media 
            @media (max-width: 550px) {
                height: 250px;
            }
        }
    }

}
</style>